{% extends "layouts/base.html" %}

{% block body %}
    <header>
        <h1>Hikorime</h1>
    </header>

    <main>
        <a href="{{ url_for('exibir_voos_disponiveis') }}">Voos Disponíveis</a>
        <br>

        {% if usr and usr.tipo_usuario == "funcionario" %}
            <a href="{{ url_for('exibir_cadastrar_aeronave') }}">Cadastrar Aeronave</a>
            <br>
            <a href="{{ url_for('exibir_cadastrar_voo') }}">Cadastrar Voo</a>
            <br>
            <a href="{{ url_for('exibir_estatisticas') }}">Relatórios</a>
        {% elif usr.tipo_usuario == "passageiro" %}
            <a href="{{ url_for('exibir_minhas_passagens') }}">Minhas Compras</a>
            <br>
            <a href="{{ url_for('exibir_cupons') }}">Meus Cupons</a>

        {% endif %}
    </main>

{% endblock %}