{% extends "layouts/base.html" %}

{% block body %}

    {% if usr and usr.tipo_usuario == 'passageiro' %}
        <header>
            <h1>Comprar Passagem</h1>
        </header>

        <main>
            <section>
                <h2>Dados do Voo</h2>
                <div>
                    <strong>Origem</strong>
                    <p>{{ voo.data_hora_partida }}</p>
                    <p>{{ voo.local_origem }}</p>
                </div>

                <div>
                    <strong>Destino</strong>
                    <p>{{ voo.data_hora_chegada }}</p>
                    <p>{{ voo.local_destino }}</p>
                </div>

                <form action="/passagens/comprar" method="post">

                    <label for="assento">Assento</label>
                    <input type="text" id="assento" name="assento" required>
                    <br>

                    <input id="id_voo" name="id_voo" value="{{ voo.id_voo }}" type="hidden">

                    <button type="submit">Finalizar Compra</button>
                </form>
            </section>
        </main>

    {% elif usr.tipo_usuario == 'funcionario' %}
        <h1>Acesso Indisponível :(</h1>
        <p>
            Página disponível apenas para passageiros
        </p>

    {% else %}
        <h1>Acesso Indisponível :(</h1>
        <p>
            Faça login para ter acesso à compra de passagens
        </p>
    {% endif %}

{% endblock body %}