{% extends "layouts/base.html" %}

{% block body %}
    {% if usr and usr.tipo_usuario == "funcionario" %}

        <header>
            <h1>Cadastro de Voos</h1>
        </header>

        <main>
            <h2>Insira os dados do voo</h2>

            <form action="/voo/cadastrar" method="post">
                 <section>
                    <h3>Dados da Aeronave</h3>

                    <div>
                        <label for="id_aeronave">Aeronave</label>
                        <select id="id_aeronave" name="id_aeronave" required>
                        <option value="" disabled selected>Selecione uma Aeronave</option>

                            {% for aeronave in aeronaves %}
                                <option value="{{ aeronave.id_aeronave }}">
                                    {{ aeronave.modelo }} | {{ aeronave.total_assentos }} assentos
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </section>

                <section>
                    <h3>Data e Hora</h3>

                    <div>
                        <label for="data_hora_partida">Data e Hora de Partida</label>
                        <input id="data_hora_partida" name="data_hora_partida" type="datetime-local" required>
                    </div>

                    <div>
                        <label for="data_hora_chegada">Data e Hora de Chegada</label>
                        <input id="data_hora_chegada" name="data_hora_chegada" type="datetime-local" required>
                    </div>
                </section>

                <section>
                    <h3>Local</h3>

                    <div>
                        <label for="local_origem">Local de Origem</label>
                        <input id="local_origem" name="local_origem" type="text">
                    </div>

                    <div>
                        <label for="local_destino">Local Destino</label>
                        <input id="local_destino" name="local_destino" type="text">
                    </div>

                    <div>
                        <label for="terminal">Terminal</label>
                        <input id="terminal" name="terminal" type="text">
                    </div>

                    <div>
                        <label for="portao_embarque">Portão de Embarque</label>
                        <input id="portao_embarque" name="portao_embarque" type="text">
                    </div>
                </section>

                <section>
                    <h3>Valor</h3>

                    <div>
                        <label for="valor_base_passagem">Valor base da passagem</label>
                        <input id="valor_base_passagem" name="valor_base_passagem" type="number">
                    </div>
                </section>

                <section>
                    <button type="submit">Cadastrar Voo</button>
                </section>
            </form>
        </main>

    {% else %}
        <h1>Acesso Indisponível :(</h1>
        <p>Parece que você não tem permissão para acessar esta página.</p>
    {% endif %}

{% endblock body %}