{% extends "layouts/base.html" %}

{% block body %}
    {% if usr and usr.tipo_usuario == "funcionario"  %}

        <header>
            <h1>Cadastro de Voos</h1>
        </header>

        <main>
            <h2>Insira os Dados da Aeronave</h2>

            <form action="/voos/cadastrar-aeronave" method="post">
                 <section>
                    <h3>Dados da Aeronave</h3>
                     <div>
                         <label for="modelo">Modelo da Aeronave</label>
                         <input
                             id="modelo"
                             name="modelo"
                             type="text"
                             value="{{ data.modelo or '' }}"
                             required
                         >
                     </div>

                     <div>
                         <label for="total_assentos">Total de Assentos</label>
                         <input
                            id="total_assentos"
                            name="total_assentos"
                            type="number"
                            value="{{ data.total_assentos or '' }}"
                            required
                         >
                     </div>
                </section>

                <section>
                    <button type="submit">
                        Cadastrar Aeronave
                    </button>
                </section>
            </form>
        </main>

    {% else %}
        <h1>Acesso Indisponível :(</h1>
        <p>Parece que você não tem permissão para acessar esta página.</p>
    {% endif %}

{% endblock body %}
