<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>
            {% if title %}
                Hikorime - {{ title }}
            {% else %}
                Hikorime
            {% endif %}
        </title>
        {% block head %}
        {% endblock head %}
    </head>

    <body>
        {% block body %}
        {% endblock body %}

         <section>
            {% if err %}
                <p style="color:red">{{ err }}</p>
            {% endif %}
        </section>

        <footer>
            {% if usr %}
                <p>
                    Conectado como {{ usr.nome }}, <br>
                    {{ usr.email }}
                </p>

                <a href="{{ url_for('logout') }}"></a>

            {% else %}
                <p>
                    Visitante não autenticado. <br>
                    Faça login para acessar todos os recursos.
                </p>

                <a href="{{ url_for('exibir_login') }}">Login</a>
            {% endif %}
        </footer>

        {% if msg %}
            <script>
                alert("{{ msg }}");
            </script>
        {% endif %}

        {% if err %}
            <script>
                alert("{{ err }}");
            </script>
        {% endif %}
    </body>
</html>