{% extends "layouts/base.html" %}

{% block body %}
    <header>
        <h1>Registro de funcionário</h1>
    </header>

    {% if usr %}
        <p>
            Você está conectado com {{ usr.email }}
        </p>

    {% else %}
        <main>
            <h2>Insira suas credencias para efetuar o cadastro</h2>

            <form action="/registro/funcionario" method="post">
                <section>
                    <h3>Dados pessoais</h3>

                    <div>
                        <label for="nome">Nome completo</label>
                        <input
                            id="nome"
                            name="nome"
                            type="text"
                            value="{{ data.nome or '' }}"
                            required
                        >
                    </div>

                    <div>
                        <label for="data_nascimento">Data de nascimento</label>
                        <input
                            id="data_nascimento"
                            name="data_nascimento"
                            type="date"
                            value="{{ data.data_nascimento or '' }}"
                            required
                        >
                    </div>

                    <div>
                        <!-- JS para tentar forçar o formato do CPF -->
                        <label for="cpf">CPF</label>
                        <input
                            id="cpf"
                            name="cpf"
                            type="text"
                            placeholder="000.000.000-00"
                            maxlength="14"
                            oninput="formatCPF(this)"
                            value="{{ data.cpf or '' }}"
                            required
                        >
                    </div>
                </section>

                <section>
                    <h3>Dados Laborais</h3>

                    <div>
                        <label for="matricula">Matrícula</label>
                        <input
                            id="matricula"
                            name="matricula"
                            type="text"
                            value="{{ data.matricula or '' }}"
                            required
                        >

                    </div>

                    <div>
                        <label for="cargo">Cargo</label>
                        <input
                            id="cargo"
                            name="cargo"
                            type="text"
                            value="{{ data.cargo or '' }}"
                            required
                        >
                    </div>
                </section>

                <section>
                    <h3>Dados de Login</h3>
                    <div>
                        <label for="email">Insira seu e-mail</label>
                        <input
                            id="email"
                            name="email"
                            type="email"
                            value="{{ data.email or '' }}"
                            required
                        >
                    </div>

                    <div>
                        <label for="senha">Crie uma senha</label>
                        <input
                            id="senha"
                            name="senha"
                            type="password"
                            value="{{ data.senha or '' }}"
                            required
                        >
                    </div>
                </section>

                <section>
                    <button type="submit">
                        Cadastrar-se
                    </button>
                </section>
            </form>
        </main>
    {% endif %}

    {% block footer %}
        <!-- Alguma msg sobre LGPD-->
    {% endblock footer %}

    <script src="{{ url_for('static', path='scripts/format-cpf.js') }}"></script>
{% endblock body %}