{% extends "layouts/base.html" %}

{% block body %}
  <header>
      <h1>Login</h1>
  </header>

    {% if usr %}
        <main>
            <p>
                Você já está conectado com o e-mail {{ usr.email }}
            </p>

            <form action="{{ url_for('logout') }}" method="post">
                <button type="submit">Logout</button>
            </form>
        </main>

    {% else %}
        <main>
            <section>
                <form action="/registro/login" method="post">
                    <div>
                        <label for="email">E-mail</label>
                        <input id="email" name="email" type="email" value="{{ data.email or '' }}" required>
                    </div>

                    <div>
                        <label for="senha">Senha</label>
                        <input id="senha" name="senha" type="password" required>
                    </div>

                    <div>
                        <button type="submit">Fazer Login</button>
                    </div>
                </form>
            </section>

            <section>
                <p>Ainda não tem uma conta? Casdastre-se!</p>
                <a href="{{ url_for('exibir_registrar_funcionario') }}">Funcionário</a>
                <br>
                <a href="{{ url_for('exibir_registrar_passageiro') }}">Passageiro</a>
            </section>
        </main>
    {% endif %}

    {% block footer %}

    {% endblock footer %}

{% endblock body %}